<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0">
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="box-frame">
      <div class="box">
        <div class="upper">
          <h3>Please fill out the following registration form to sign up as <% if @role == "organiser" || @role == "admin" %>an<% else %>a<% end%> <%= @role %>:</h3>
          <p>*Required fields</p>
        </div>
        <div class="lower">
          <% if @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <% @user.errors.full_messages.each do |message| %>
              <ul><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= message %></ul>
              <% end %>
            </div>
          <% end %>
          <div class="row">
            <%= form_tag signup_create_user_path do %>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <%= hidden_field_tag :role, @role %>
                <h4>Login details:</h4>
                <div class="field">
                  <%= text_field_tag :email, "", class: 'form-control', :placeholder => "* Email:" %>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <%= password_field_tag :password, "", class: 'form-control', :placeholder => "* Password:" %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <%= password_field_tag :password_confirmation, "", class: 'form-control', :placeholder => "* Confirm password:" %>
                    </div>
                  </div>
                </div>
                <br>
                <h4>Personal details:</h4>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <%= text_field_tag :first_name, "", class: 'form-control', :placeholder => "* First name:" %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <%= text_field_tag :last_name, "", class: 'form-control', :placeholder => "* Last name:" %>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <div class="dates">
                        <input type='text' name="dob" class="form-control" id='datetimepicker4' placeholder='* D.O.B. (DD/MM/YYYY)' />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="field">
                      <div class="switch-field">
                        <input type="radio" id="switch_left" name="sex" value="male" checked/>
                        <label for="switch_left">Male</label>
                        <input type="radio" id="switch_right" name="sex" value="female" />
                        <label for="switch_right">Female</label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <% if @role == "child" %>
                  <h4>Require approval:</h4>
                  <div class="field">
                    <div class="switch-field">
                      <input type="radio" id="switch_left2" name="autoapprove" value="false" checked/>
                      <label for="switch_left2">Yes</label>
                      <input type="radio" id="switch_right2" name="autoapprove" value="true" />
                      <label for="switch_right2">No</label>
                    </div>
                  </div>
                  *Does your child require your permission to attend an event?
                <% else %>
                  <h4>Address:</h4>
                  <div class="field">
                    <%= text_field_tag :address_line1, "", class: 'form-control', :placeholder => "* Address line 1:" %>
                  </div>
                  <br>
                  <div class="field">
                    <%= text_field_tag :address_line2, "", class: 'form-control', :placeholder => "Address line 2:" %>
                  </div>
                  <br>
                  <div class="field">
                    <%= text_field_tag :address_suburb, "", class: 'form-control', :placeholder => "* Suburb:" %>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="field">
                        <%= select_tag(:address_state, options_for_select([['* Select state:', nil], ['ACT', 'ACT'], ['NSW', 'NSW'], ['NT', 'NT'], ['QLD', 'QLD'], ['SA', 'SA'], ['TAS', 'TAS'], ['VIC', 'VIC'], ['WA', 'WA']]), {class: 'form-control'}) %>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="field">
                        <%= text_field_tag :address_pcode, "", class: 'form-control', :placeholder => "* Postcode:" %>
                      </div>
                    </div>
                  </div>
                  <br>
                <% end %>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="actions">
                  <%= submit_tag "Submit", :class => "btn" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0">
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
          format: 'DD/MM/YYYY'
        });
    });
</script>
