



<% @logged_in_role = current_user.role %>
<% @menu_buttons = { "dashboard" => ["", "dashboard", "Dashboard"], "events" => ["", "insert_invitation", "Events"],
                    "children" => ["children", "face", "Children"], "point_store" => ["point_store", "card_giftcard", "Point Store"]} %>
<% @menu_items = { "parent" => ["dashboard", "events", "children", "point_store"], "child" => ["dashboard", "events", "children", "point_store"], "organiser" => ["dashboard", "events", "children", "point_store"], "administrator" => ["dashboard", "events", "children", "point_store"]} %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
    <div class="navigation">
      <div class="container">
        <div class="btn-group" role="group" aria-label="...">
          <% @menu_items[@logged_in_role].each do |button|%>
            <a href="<% if button == "dashboard" %><%= "/" %><% elsif button == "events" %><%= "/events" %><% else %><%= "/" + @logged_in_role + "_pages/" + @menu_buttons[button][0] %><% end %>" type="button" class="btn btn-default"><i class="material-icons"><%= @menu_buttons[button][1] %></i><br>
            <%= @menu_buttons[button][2] %></a>
          <% end %>
          <% if @page == "home" %>
          <a class="btn btn-default" id="save-grid" type="button" href="#"><i class="material-icons">view_module</i><br>
          Save Grid</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="hidden-lg hidden-md hidden-sm col-xs-12">
    <div class="mini-navigation">
      <div class="container text-right">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" data-toggle="collapse"  data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="material-icons">view_headline</i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="collapseExample">
  <div class="menu-dropdown">
    <% @menu_items[@logged_in_role].each do |button|%>
      <a href="<% if button == "dashboard" %><%= "/" %><% elsif button == "events" %><%= "/events" %><% else %><%= "/" + @logged_in_role + "_pages/" + @menu_buttons[button][0] %><% end %>">
        <div class="item">
          <i class="material-icons"><%= @menu_buttons[button][1] %></i> <%= @menu_buttons[button][2] %>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="gap">
</div>
