<%= render 'partials/category_icons' %>
<%= render 'partials/image_dropdown' %>



<%= form_for event, :html => {:onsubmit => "return checkForm(this);"} do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %>
    <%= f.text_field :event_name %>
  </div>

  <%= f.file_field :thumbnail %>

  <div class="field">
    <%= f.label :event_description %>
    <%= f.text_area :event_description %>
  </div>

  <div class="field">
    <%= f.label :event_category %>
    <%= f.text_area :event_category %>
  </div>

  <select id="image-dropdown" name="event[event_icon]" style="width:250px;">
   <option value="" data-description="Choose an appropiate image">Category image</option>
   <% @category_icons.each do |image| %>
      <%= image_tag "markers/#{image.split('/').last}" %>
      <option value="<%= "#{image.split('/').last}" %>" data-image="<%= image_url "markers/#{image.split('/').last}" %>"><%= image.split('/').last %></option>
    <% end %>
  </select>

  <div class="field">
    <input id="searchTextField" type="text" size="50" name="event[event_location]" placeholder="Enter a location" autocomplete="on" runat="server" />
    <input type="text" id="latitude" name="event[latitude]" />
    <input type="text" id="longitude" name="event[longitude]" />
  </div>

  <div class="field">
    <%= f.label :event_cost %>
    <%= f.text_field :event_cost %>
  </div>

  <div class="field">
    <%= f.label :event_date %>
    <%= f.date_select :event_date %>
  </div>

<input id="my_submit_button" type="submit" value="Create Event">
<% end %>


<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&libraries=places" type="text/javascript"></script>

<script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var options = {
        componentRestrictions: {country: 'au'}
      };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
      document.getElementById('latitude').value = place.geometry.location.lat();
      document.getElementById('longitude').value = place.geometry.location.lng();
      //alert("This function is working!");
      //alert(place.name);
     // alert(place.address_components[0].long_name);

    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">

  function checkForm(form)
  {
    // validation fails if the input is blank
    if(form.latitude.value == "") {
      alert("You must select an address from the autocomplete dropdown!");
      form.latitude.focus();
      return false;
    }
    // validation was successful, blank out submit button
    document.getElementById('my_submit_button').disabled = 'disabled'
    return true;
  }

</script>
