<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>

<style media="screen">
.grid-stack>.grid-stack-item>.grid-stack-item-content{
  overflow-y: hidden;
  padding-bottom: 43px;
}
</style>

<% flash.each do |key, value| %>
  <% if key == "danger" || key == "success" %>
    <div class="alert alert-<%= key %>">
      <% if key == "danger" %>
        <ul><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% elsif key == "success" %>
        <ul><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="grid-stack">
  <% @dashboard_items.each_with_index do |page, index| %>
    <% @index = index %>
    <%= render page %>
  <% end%>
</div>

<%= form_tag pages_save_grid_path, :id => 'save_grid_form' do %>
  <textarea id="saved-data" name="dashboard_grid" style="display:none;"></textarea>
<% end %>

<!-- Grid stack -->
<script type="text/javascript">
    $(function () {
        var options = {
          cellHeight: 1,
          verticalMargin: 20
        };
        $('.grid-stack').gridstack(options);

        new function () {

            this.saveGrid = function () {
              var res = _.map($('.grid-stack .grid-stack-item:visible'), function (el) {
                  el = $(el);
                  var node = el.data('_gridstack_node');
                  return {
                      id: el.attr('data-custom-id'),
                      x: node.x,
                      y: node.y,
                      width: node.width,
                      height: node.height
                  };
                }, this);
                $('#saved-data').val(JSON.stringify(res, null, '    '));
                return false;
            }.bind(this);

            this.submitForm = function() {
              document.getElementById("save_grid_form").submit();
              return false;
            }

            $('#save-grid').click(this.saveGrid);
            $('#save-grid').click(this.submitForm);
        };
    });
</script>



<!-- line graph data -->
<script>
var ctx = document.getElementById("myChart2");
var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Jan '17", "Feb '17", "Mar '17", "Apr '17", "May '17", "Jun '17", "Jul '17"],
  datasets: [
      {
          label: "Tom",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [5, 3, 2, 6, 0, 3, 1],
          spanGaps: false,
      },
      {
          label: "Tim",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(255,99,132,0.4)",
          borderColor: "rgba(255,99,132,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(255,99,132,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(255,99,132,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [1, 0, 2, 1, 0, 0, 1],
          spanGaps: false,
      }
  ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<!-- Custom scrollbar -->
<script>
    (function($){
        $(window).on("load",function(){
            $(".content").mCustomScrollbar({
              theme:"dark-thin",
              scrollButtons:{
                enable:true
              }
            });
        });
    })(jQuery);
</script>
