<style media="screen">
#map {
  height: 300px;
  border-width: 1px;
  border-color: #CACACA;
  border-style: solid;
  border-radius: 5px;
}
</style>
<div class="header-gap">
</div>
<% flash.each do |key, value| %>
  <% if key == "danger" || key == "success" %>
    <div class="alert alert-<%= key %>">
      <% if key == "danger" %>
        <ul><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% elsif key == "success" %>
        <ul><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">map</i> Explorer map</h3>
      </div>
      <div class="panel-body">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">insert_invitation</i> Events</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover text-center">
          <tr>
            <th class="text-center">Date</th>
            <th></th>
            <th class="text-center">Event</th>
            <th class="text-center">Child</th>
            <th class="text-center">Manage</th>
          </tr>
          <tr>
            <td>16/01/2017</td>
            <td class="text-right"><%= image_tag("markers/lake.png", class: "icons") %></td>
            <td>Luna Park Day</td>
            <td>Tom</td>
            <td><i class="material-icons simple-tooltip yellow" title="View">event_note</i> <i class="material-icons simple-tooltip blue" title="Accept">event_available</i> <i class="material-icons simple-tooltip red" title="Reject">event_busy</i></td>
          </tr>
          <tr>
            <td>10/01/2017</td>
            <td class="text-right"><%= image_tag("markers/laterne.png", class: "icons") %></td>
            <td>Fishing at Manly</td>
            <td>Tom</td>
            <td><i class="material-icons simple-tooltip yellow" title="View">event_note</i> <i class="material-icons simple-tooltip blue" title="Accept">event_available</i> <i class="material-icons simple-tooltip red" title="Reject">event_busy</i></td>
          </tr>
          <tr>
            <td>10/01/2017</td>
            <td class="text-right"><%= image_tag("markers/kiosk.png", class: "icons") %></td>
            <td>Fishing at Manly</td>
            <td>Tim</td>
            <td><i class="material-icons simple-tooltip yellow" title="View">event_note</i> <i class="material-icons simple-tooltip blue" title="Accept">event_available</i> <i class="material-icons simple-tooltip red" title="Reject">event_busy</i></td>
          </tr>
          <tr>
            <td>10/05/2017</td>
            <td class="text-right"><%= image_tag("markers/library.png", class: "icons") %></td>
            <td>Lunch with the Stars</td>
            <td>Tom</td>
            <td><i class="material-icons simple-tooltip yellow" title="View">event_note</i> <i class="material-icons simple-tooltip blue" title="Accept">event_available</i> <i class="material-icons simple-tooltip red" title="Reject">event_busy</i></td>
          </tr>
          <tr>
            <td>23/08/2017</td>
            <td class="text-right"><%= image_tag("markers/information.png", class: "icons") %></td>
            <td>Aquarium Day</td>
            <td>Lucy</td>
            <td><i class="material-icons simple-tooltip yellow" title="View">event_note</i> <i class="material-icons simple-tooltip blue" title="Accept">event_available</i> <i class="material-icons simple-tooltip red" title="Reject">event_busy</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">insert_invitation</i> Calendar</h3>
      </div>
      <div class="panel-body">
        <%= render 'partials/calendar' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">insert_invitation</i> Events attendance history</h3>
      </div>
      <div class="panel-body">
        <canvas id="myChart2" width="400" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">face</i> Children</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover text-center">
          <tr>
            <th class="text-center">Character</th>
            <th class="text-center">Details</th>
            <th class="text-center">Manage</th>
          </tr>
          <tr>
            <td><%= image_tag("sample/char1.png", class: "character") %></td>
            <td>Name: Tom<br>Points: 65<br>Attended: 10</td>
            <td><br><i class="material-icons simple-tooltip yellow" title="View">apps</i> <i class="material-icons simple-tooltip blue" title="Edit details">description</i> <i class="material-icons simple-tooltip red" title="Remove account">delete_forever</i></td>
          </tr>
          <tr>
            <td class="text-center"><%= image_tag("sample/char2.png", class: "character") %></td>
            <td>Name: Tim<br>Points: 25<br>Attended: 3</td>
            <td><br><i class="material-icons simple-tooltip yellow" title="View">apps</i> <i class="material-icons simple-tooltip blue" title="Edit details">description</i> <i class="material-icons simple-tooltip red" title="Remove account">delete_forever</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">card_giftcard</i> Prizes</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">exit_to_app</i> Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>

<!-- Google maps data -->
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      zoomControl: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(-33.85, 151),
      mapTypeId: 'roadmap',
      styles: [
    {
        "featureType": "all",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3f4f4"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry",
        "stylers": [
            {
                "weight": 0.9
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#83cead"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#7fc8ed"
            }
        ]
    }
]
    });

    var icons = {
      parking: {
        icon: '<%= image_url("markers/parking-meter-export.png") %>'
      },
      library: {
        icon: '<%= image_url("markers/library.png") %>'
      },
      info: {
        icon: '<%= image_url("markers/information.png") %>'
      },
      kiosk: {
        icon: '<%= image_url("markers/kiosk.png") %>'
      },
      lake: {
        icon: '<%= image_url("markers/lake.png") %>'
      },
      laterne: {
        icon: '<%= image_url("markers/laterne.png") %>'
      },
      levelcrossing: {
        icon: '<%= image_url("markers/levelcrossing.png") %>'
      }
    };

    var features = [
      {
        position: new google.maps.LatLng(-33.81721, 151.22630),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-34.02539, 151.22820),
        type: 'laterne'
      }, {
        position: new google.maps.LatLng(-33.93747, 150.89089),
        type: 'lake'
      }, {
        position: new google.maps.LatLng(-33.88910, 150.87089),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91725, 150.86089),
        type: 'kiosk'
      }, {
        position: new google.maps.LatLng(-33.81872, 150.86089),
        type: 'laterne'
      }, {
        position: new google.maps.LatLng(-33.91784, 151.23094),
        type: 'levelcrossing'
      }, {
        position: new google.maps.LatLng(-33.71682, 151.24149),
        type: 'levelcrossing'
      }, {
        position: new google.maps.LatLng(-34.01790, 151.10463),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91666, 151.00468),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.816988, 150.933640),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
        type: 'library'
      }
    ];

    // Create markers.
    features.forEach(function(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: icons[feature.type].icon,
        map: map
      });
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoFhlvLSsPC0XZvGiPq05VJE2wCRXI3-A&callback=initMap">
</script>

<!-- line graph data -->
<script>
var ctx = document.getElementById("myChart2");
var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Jan '17", "Feb '17", "Mar '17", "Apr '17", "May '17", "Jun '17", "Jul '17"],
  datasets: [
      {
          label: "Tom",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [5, 3, 2, 6, 0, 3, 1],
          spanGaps: false,
      },
      {
          label: "Tim",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(255,99,132,0.4)",
          borderColor: "rgba(255,99,132,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(255,99,132,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(255,99,132,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [1, 0, 2, 1, 0, 0, 1],
          spanGaps: false,
      }
  ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<!-- Slick carousel -->
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
    });
  </script>
