<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<style media="screen">
#map {
  height: 340px;
  border-width: 1px;
  border-color: #CACACA;
  border-style: solid;
  border-radius: 5px;
}
</style>
<style media="screen">
.header-gap {
  height: 30px;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content{
  overflow-y: hidden;
  padding-bottom: 43px;
}
</style>
<div class="header-gap">
</div>
<% flash.each do |key, value| %>
  <% if key == "danger" || key == "success" %>
    <div class="alert alert-<%= key %>">
      <% if key == "danger" %>
        <ul><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% elsif key == "success" %>
        <ul><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span>
        <%= value %></ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col-lg-12 col-md-12 hidden-12 hidden-xs">
      <a class="btn btn-default" id="save-grid" href="#">Save Grid</a>
  </div>
</div>


<div class="grid-stack">
  <% @dashboard_items.each_with_index do |page, index| %>
    <% @index = index %>
    <%= render page %>
  <% end%>
</div>

<%= form_tag pages_save_grid_path, :id => 'save_grid_form' do %>
  <textarea id="saved-data" name="dashboard_grid" style="display:none;"></textarea>
<% end %>

<div class="header-gap">
</div>

<!-- Grid stack -->
<script type="text/javascript">
    $(function () {
        var options = {
          cellHeight: 1,
          verticalMargin: 20
        };
        $('.grid-stack').gridstack(options);

        new function () {

            this.saveGrid = function () {
              var res = _.map($('.grid-stack .grid-stack-item:visible'), function (el) {
                  el = $(el);
                  var node = el.data('_gridstack_node');
                  return {
                      id: el.attr('data-custom-id'),
                      x: node.x,
                      y: node.y,
                      width: node.width,
                      height: node.height
                  };
                }, this);
                $('#saved-data').val(JSON.stringify(res, null, '    '));
                return false;
            }.bind(this);

            this.submitForm = function() {
              document.getElementById("save_grid_form").submit();
              return false;
            }

            $('#save-grid').click(this.saveGrid);
            $('#save-grid').click(this.submitForm);
        };
    });
</script>

<!-- Google maps data -->
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      zoomControl: true,
      disableDefaultUI: true,
      center: new google.maps.LatLng(-33.85, 151),
      mapTypeId: 'roadmap',
      styles: [
    {
        "featureType": "all",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3f4f4"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry",
        "stylers": [
            {
                "weight": 0.9
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#83cead"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#fee379"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#7fc8ed"
            }
        ]
    }
]
    });

    var icons = {
      parking: {
        icon: '<%= image_url("markers/parking-meter-export.png") %>'
      },
      library: {
        icon: '<%= image_url("markers/library.png") %>'
      },
      info: {
        icon: '<%= image_url("markers/information.png") %>'
      },
      kiosk: {
        icon: '<%= image_url("markers/kiosk.png") %>'
      },
      lake: {
        icon: '<%= image_url("markers/lake.png") %>'
      },
      laterne: {
        icon: '<%= image_url("markers/laterne.png") %>'
      },
      levelcrossing: {
        icon: '<%= image_url("markers/levelcrossing.png") %>'
      }
    };

    var features = [
      {
        position: new google.maps.LatLng(-33.81721, 151.22630),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-34.02539, 151.22820),
        type: 'laterne'
      }, {
        position: new google.maps.LatLng(-33.93747, 150.89089),
        type: 'lake'
      }, {
        position: new google.maps.LatLng(-33.88910, 150.87089),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91725, 150.86089),
        type: 'kiosk'
      }, {
        position: new google.maps.LatLng(-33.81872, 150.86089),
        type: 'laterne'
      }, {
        position: new google.maps.LatLng(-33.91784, 151.23094),
        type: 'levelcrossing'
      }, {
        position: new google.maps.LatLng(-33.71682, 151.24149),
        type: 'levelcrossing'
      }, {
        position: new google.maps.LatLng(-34.01790, 151.10463),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91666, 151.00468),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.816988, 150.933640),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91662347903106, 151.22879464019775),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.916365282092855, 151.22937399734496),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91665018901448, 151.2282474695587),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.919543720969806, 151.23112279762267),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91608037421864, 151.23288232673644),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91851096391805, 151.2344058214569),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91818154739766, 151.2346203981781),
        type: 'parking'
      }, {
        position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
        type: 'library'
      }
    ];

    // Create markers.
    features.forEach(function(feature) {
      var marker = new google.maps.Marker({
        position: feature.position,
        icon: icons[feature.type].icon,
        map: map
      });
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoFhlvLSsPC0XZvGiPq05VJE2wCRXI3-A&callback=initMap">
</script>

<!-- line graph data -->
<script>
var ctx = document.getElementById("myChart2");
var myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Jan '17", "Feb '17", "Mar '17", "Apr '17", "May '17", "Jun '17", "Jul '17"],
  datasets: [
      {
          label: "Tom",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [5, 3, 2, 6, 0, 3, 1],
          spanGaps: false,
      },
      {
          label: "Tim",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(255,99,132,0.4)",
          borderColor: "rgba(255,99,132,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(255,99,132,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(255,99,132,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [1, 0, 2, 1, 0, 0, 1],
          spanGaps: false,
      }
  ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<!-- Custom scrollbar -->
<script>
    (function($){
        $(window).on("load",function(){
            $(".content").mCustomScrollbar({
              theme:"dark-thin",
              scrollButtons:{
                enable:true
              }
            });
        });
    })(jQuery);
</script>
