<%= render 'partials/category_icons' %>
<%= render 'partials/image_dropdown' %>

<select id="image-dropdown" name="event[event_icon]" style="width:250px;">
 <option value="" data-description="Choose an appropiate image">Category image</option>
 <% @category_icons.each do |image| %>
    <%= image_tag "markers/#{image.split('/').last}" %>
    <option value="<%= "markers/#{image.split('/').last}" %>" data-image="<%= image_url "markers/#{image.split('/').last}" %>"><%= image.split('/').last %></option>
  <% end %>
</select>
