<div class="grid-stack-item"
    data-gs-x=<%= @dashboard_grid[@index]["x"] %> data-gs-y=<%= @dashboard_grid[@index]["y"] %>
    data-gs-width=<%= @dashboard_grid[@index]["width"] %> data-gs-height=<%= @dashboard_grid[@index]["height"] %> data-custom-id="children">
  <div class="grid-stack-item-content">
    <div class="title">
      <i class="material-icons">face</i> Children
    </div>
    <div class="content">
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Character</th>
          <th class="text-center">Details</th>
          <th class="text-center">Manage</th>
        </tr>
        <tr>
          <td><%= image_tag("sample/char1.png", class: "character") %></td>
          <td>Name: Tom<br>Points: 65<br>Attended: 10</td>
          <td><br><i class="material-icons simple-tooltip yellow" title="View">apps</i> <i class="material-icons simple-tooltip blue" title="Edit details">description</i> <i class="material-icons simple-tooltip red" title="Remove account">delete_forever</i></td>
        </tr>
        <tr>
          <td class="text-center"><%= image_tag("sample/char2.png", class: "character") %></td>
          <td>Name: Tim<br>Points: 25<br>Attended: 3</td>
          <td><br><i class="material-icons simple-tooltip yellow" title="View">apps</i> <i class="material-icons simple-tooltip blue" title="Edit details">description</i> <i class="material-icons simple-tooltip red" title="Remove account">delete_forever</i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
