<div class="grid-stack-item"
    data-gs-x=<%= @dashboard_grid[@index]["x"] %> data-gs-y=<%= @dashboard_grid[@index]["y"] %>
    data-gs-width=<%= @dashboard_grid[@index]["width"] %> data-gs-height=<%= @dashboard_grid[@index]["height"] %> data-custom-id="events">
  <div class="grid-stack-item-content">
    <div class="title">
      <i class="material-icons">insert_invitation</i> Events
    </div>
    <div class="content">
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Date</th>
          <th></th>
          <th class="text-center">Event</th>
          <th class="text-center">Category</th>
          <th class="text-center"></th>
        </tr>
        <% @events.approved.future[0..10].each do |event| %>
        <tr>
          <td><%= event.event_date%></td>
          <td class="text-right"><%= image_tag("markers/#{event.event_icon}", class: "icons") %></td>
          <td><%= event.event_name%></td>
          <td><%= event.event_category%></td>
          <td><a href="/events/<%= event.id %>"<i class="material-icons simple-tooltip yellow" title="View">event_note</i></a></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
